{% extends 'base.html' %}

{% block center_body %}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list1_1_1" >苹果</a></li>
					<li><a href="/list2_1_1" >华为</a></li>
					<li><a href="/list3_1_1" >三星</a></li>
					<li><a href="/list4_1_1" >oppo</a></li>
					<li><a href="/list5_1_1" >vivo</a></li>
					<li><a href="/list6_1_1" >小米</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url "df_goods:index" %}">首页</a></li>

			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		全部分类 > {{ title }}
		{% if id|default:' ' != ' ' %}
        > 商品详情
		{% endif %}
	</div>

{% block center_content %}

{% endblock center_content %}



{% endblock center_body %}
