{% extends 'base.html' %}

{% block head %}
<script>

    $(function () {
        total();
        
        $('#check_all').click(function () {
            state=$(this).prop('checked');
            $(':checkbox:not(#ckeck_all)').prop('checked',state)
        });
        
        $(':checkbox:not(#check_all)').click(function () {
            if($(this).prop('checked')){
{#                alert($(':checked').length);#}
                if($(':checked').length+1==$(':checkbox').length){
                    $('#ckeck_all').prop('checked',true);
                }
            }
            else{
                $('#check_all').prop('checked',false)
            }
        });


        $('.add').click(function () {

            txt=$(this).next();
            txt.val(parseFloat(txt.val())+1).blur();

        });
         $('.minus').click(function () {
            txt=$(this).prev();
             txt.val(parseFloat(txt.val())-1).blur()
        });
{#         $('#check_goods').click(function () {#}
{#             c = $(this).attr('checked');#}
{#             alert(c);#}
{#         });#}
        
        $('.num_show').blur(function () {
            count=parseFloat($(this).val());
            kucun=parseFloat($(this).attr('kucun'));
            if(count<1){
                alert('Quantity cannot be less than 1');
                $(this).val(1);
                count = 1;
                $(this).focus();
                return;
            }
            else if(count>kucun){
             alert('Quantity cannot exceed inventory');
             $(this).val(kucun);
             count = kucun;
             $(this).focus();
             return;
            }

            cart_id = $(this).parents('.cart_list_td').attr('id');
            $.get('/cart/edit'+cart_id+'_'+count+'/',function (data) {
                if(data.count==0){
                    
{#                    alert('ok');#}
                    total();
                }
                else {
                    
                    $(this).val(data.count)
                }
            })
        })
    });
    function cart_del(cart_id) {
            del = confirm('Confirm deletion');
{#            cart_id = $(this).parents('.cart_list_td').attr('id');#}
{#            alert(cart_id);#}
            if(del){
                $.get('/cart/delete'+cart_id+'/',function (data) {
{#                    alert(data.ok);#}
                    if(data.ok==1){
                       
{#                        alert('Delete');#}
                        $('ul').remove('#'+cart_id);
                        total();
                    }
                })
            }
        }
    function total(){
        total1=0;
        total_count=0;

            $('.col07').each(
                function () {

               
                count=$(this).prev().find('input').val();
               
                price = $(this).prev().prev().text();
                
                total0=parseFloat(count)*parseFloat(price);
               
{#                checked = $(this).prev().prev().prev().prev().prev().prev().find('input').attr('checked')#}
{#                if(checked == 'checked')#}
{#                {}#}
                    $(this).text(total0.toFixed(2));
               
                total1 += total0;
                total_count++;
            });
           
            $('#total').text(total1.toFixed(2));
            $('.total_count1').text(total_count);
        }
    function go_order() {
        s = '';
        $(':checked:not(#check_all)').each(function () {
             id = $(this).parents('.cart_list_td').attr('id');

             s = s +'cart_id='+id + '&'

        });

        

        s=s.substring(0,s.length-1);
        // alert(s);
        location.href = '/order?'+s ;

        }
</script>
{% endblock head %}

{% block center_body %}
	<div class="total_count">All items<em>{{ carts|length }}</em>item</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">Product Name</li>
		<li class="col03">Product unit price</li>
		<li class="col04">Quantity</li>
		<li class="col05">Subtotal</li>
		<li class="col06">Operation</li>
	</ul>

    {% for cart in carts %}
	<ul class="cart_list_td clearfix" id="{{ cart.id }}">
		<li class="col01"><input type="checkbox" name="" id="check_goods" checked="checked"></li>
		<li class="col02"><img src="/static/{{ cart.goods.gpic }}"></li>
		<li class="col03">{{ cart.goods.gtitle }}<br><em>{{ cart.goods.gprice }}RM</em><br><em>Balance：<span id="goods_kucun">{{ cart.goods.gkucun }}</span></em></li>
		<li class="col05">{{ cart.goods.gprice }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ cart.count }}" kucun="{{ cart.goods.gkucun }}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07"></li>
		<li class="col08"><a href="javascript:cart_del({{ cart.id }});">Delete</a></li>
	</ul>
    {% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" id="check_all" href="javascript:;"></li>
		<li class="col02">Select All</li>
		<li class="col03">Total (excluding freight):<span>RM</span><em id="total"></em><br>Total<b class="total_count1"></b>Item</li>
		<li class="col04"><a href="javascript:go_order()">Go to settlement</a></li>
	</ul>

{% endblock center_body %}
