{% extends 'base.html' %}

{% block head %}
    <script>
    $(function () {
        $('.col07').each(function () {
            count = $(this).prev().text();
            price = $(this).prev().prev().text();
            $(this).html('RM'+parseFloat(count,2)*parseFloat(price,2))
        })
    })
    </script>

{% endblock %}

{% block center_body %}
	
	<h3 class="common_title">Confirm shipping address</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>shipping to：</dt>
			<span><input type="radio" name="" checked="checked"></span>
            Current address：<span class="user_info_check">{{ user.uaddress }}</span>
            Recipient name：<span class="user_info_check">{{ user.ushou }} </span>
            Contact number：<span class="user_info_check">{{ user.uphone }}</span>
		</dl>
		<a href="{% url "df_user:site" %}" class="edit_site">Edit shipping address</a>

	</div>
	
	<h3 class="common_title">Payment Method</h3>
	<!--<div class="common_list_con clearfix">-->
		<!--<div class="pay_style_con clearfix">-->
			<!--<input type="radio" name="pay_style" checked>-->
			<!--<label class="cash">COD</label>-->
			<!--<input type="radio" name="pay_style">-->
			<!--<label class="tng">TnG E-wallet</label>-->
			<!--<input type="radio" name="pay_style">-->
			<!--<label class="Alipay">Alipay</label>-->
			<!--<input type="radio" name="pay_style">-->
			<!--<label class="bank">Bank Transfer</label>-->
		<!--</div>-->
	<!--</div>-->

	<h3 class="common_title">Product List</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">Product Name</li>
			<li class="col03">Product Price</li>
			<li class="col04">Number</li>
			<li class="col05">Subtotal</li>
		</ul>
        {% for cart in carts %}
        <ul class="goods_list_td clearfix" id="{{ cart.id }}">
			<li class="col01">{{ forloop.counter }}</li>
			<li class="col02"><img src="/static/{{ cart.goods.gpic }}/"></li>
			<li class="col03">{{ cart.goods.gtitle }}</li>
			<li class="col05">{{ cart.goods.gprice }}</li>
			<li class="col06">{{ cart.count }}</li>
			<li class="col07">RM25.80</li>
        </ul>
        {% endfor %}

	</div>

	<h3 class="common_title">Total amount</h3>
{#	<h3 class="common_title">Order submission time{{ value|time }}</h3>#}

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>{{ carts|length }}</em> products，Total Price is <b>{{ total_price }}</b></div>
			<div class="transit">Shipping Fees：<b>RM {{ trans_cost }}</b></div>
			<div class="total_pay">Actual payments：<b>{{ total_trans_price }}</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">Submit Order</a>
	</div>	

		<div class="popup_con">
		<div class="popup">
			<p>Order submitted successfully！</p>
		</div>

		<div class="mask"></div>
	</div>

	<script type="text/javascript">
		$('#order_btn').click(function() {
		    //Check that the current delivery address is correct
		    $('.user_info_check').each(function () {
		        text = $(this).text();
		        if (text == ''){
		            alert('Please fill in the correct delivery address');
                    window.location.href = '{% url "df_user:site" %}';
                }
            });

		    //Get all ids, spliced into a string
            cartids = '';
            $('.goods_list_td').each(function () {
               cartids = cartids + $(this).attr('id') +','
            });
		    cartids = cartids.substring(0,cartids.length-1);
		    total = {{ total_trans_price }};
		    data = {
		            'cart_ids':cartids,
                    'total':total,
                    'csrfmiddlewaretoken':'{{ csrf_token }}'
		    };

		    //Send request
            $.post('/order/push/',data,function (data) {
                //Successful

                if (data.ok == 1){
                    localStorage.setItem('order_finish',2);

                    $('.popup_con').fadeIn('fast', function() {

                        setTimeout(function(){
                            $('.popup_con').fadeOut('fast',function(){
                                window.location.href = '{% url "df_user:order" 1 %}';
                            });
                        },1000)
                    });
                }
                else {
                    alert('Order submission expires')
                }
            })
		});
	</script>
{% endblock center_body %}

