{% extends 'base_foot.html' %}
{% block head %}
     <script type="text/javascript">
        $(function(){

        var error_name = false;
        var error_email = false;
        var error_code = false;



        $('#user_name').blur(function() {
            check_user_name();
        });

        $('#email').blur(function() {
            check_email();
        });
        $('#code').blur(function() {
            check_code();
        });

        function check_user_name(){
            var len = $('#user_name').val().length;

            if(len<5||len>20)
            {
                $('#user_name').next().html('Enter a username of 5-20 characters');
                $('#user_name').next().show();
                error_name = true;

            }
            else
            {
                $.get('{% url "df_user:register_exist" %}?uname='+$('#user_name').val(),function(data){
                    if (data.count >= 1) {
                        $('#user_name').next().hide();
                        error_name = false;
                    }else{
                        $('#user_name').next().html('Username does not exist').show();
                        error_name = false;
                    }
                });
            }
        }


        function check_email(){
            var re = /^[a-z0-9][\w\.\-]*@[a-z0-9\-]+(\.[a-z]{2,5}){1,2}$/;

            if(re.test($('#email').val()))
            {
                $('#email').next().hide();
                error_email = false;
            }
            else
            {
                $('#email').next().html('The email you entered is incorrect');
                $('#email').next().show();
                error_check_password = true;
            }

        }

        function check_code(){
            if ($('#code').val() == '000000'){
                $('#code').next().hide();
                error_code = false;}
            else{
                $('#code').next().html("Incorrect verification code");
                $('#code').next().show();
                 error_code = true;
                }
            }

        $('#reg_form').submit(function() {
            check_user_name();
            check_email();

            if(error_name == false  && error_email == false )
            {
                return true;
            }
            else
            {
                return false;
            }

        });
    });
        </script>
{% endblock head %}


{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="/static/images/findpassword4.png"></a>
			<div class="reg_slogan">Stay at home · Shopping every day</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>retrieve password</h1>
				<a href="{% url "df_user:login" %}">Log in</a>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url "df_user:newpassword" %}" id='reg_form' method="post">
                    {% csrf_token %}
				<ul>
					<li>
						<label>username:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip">prompt information</span>
					</li>
{#					<li>#}
{#						<label>password:</label>#}
{#						<input type="password" name="pwd" id="pwd">#}
{#						<span class="error_tip">prompt information</span>#}
{#					</li>#}
{#					<li>#}
{#						<label>Confirm Password:</label>#}
{#						<input type="password" name="confirm_pwd" id="cpwd">#}
{#						<span class="error_tip">prompt information</span>#}
{#					</li>#}
                    <li style=" margin-top: 0px">
						<label>verification code:</label>
						<input type="text" name="code" id="code">
						<span class="error_tip">prompt information</span>
					</li>
					<li >
						<label>Mail:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip">prompt information</span>
					</li>
                        <button class="code" style="margin-bottom: 10px">Send the verification code</button>
{#					<li class="agreement">#}
{#						<input type="checkbox" name="allow" id="allow" checked="checked">#}
{#						<label>Agree to the "Mall User Agreement"</label>#}
{#						<span class="error_tip2">prompt information</span>#}
{#					</li>#}
					<li class="reg_sub">
						<input type="submit" value="retrieve password">
					</li>
				</ul>
				</form>
			</div>

		</div>

	</div>

{% endblock body %}
