{% extends 'base_foot.html' %}
{#Templates inherit from base_foot#}

{% block head %}
    <script type="text/javascript" src="/static/js/register.js"></script>
    <script type="text/javascript">
    $(function(){

	var error_password = false;
	var error_check_password = false;


	$('#pwd').blur(function() {
		check_pwd();
	});

	$('#cpwd').blur(function() {
		check_cpwd();
	});





	function check_pwd(){
		var len = $('#pwd').val().length;
		if(len<4||len>20)
		{
			$('#pwd').next().html('The minimum password is 4 characters, the longest is 20 characters');
			$('#pwd').next().show();
			error_password = true;
		}
		else
		{
			$('#pwd').next().hide();
			error_password = false;
		}
	}


	function check_cpwd(){
		var pass = $('#pwd').val();
		var cpass = $('#cpwd').val();

		if(pass!=cpass)
		{
			$('#cpwd').next().html('The two entered passwords do not match');
			$('#cpwd').next().show();
			error_check_password = true;
		}
		else
		{
			$('#cpwd').next().hide();
			error_check_password = false;
		}

	}

	$('#reg_form').submit(function() {
		check_pwd();
		check_cpwd();

		if(error_password == false && error_check_password == false)
		{
			return true;
		}
		else
		{
			return false;
		}

	});
});
    </script>
{% endblock head %}

{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"></a>
			<div class="reg_slogan">Stay at home · Shopping every day</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>reset Password</h1>
				<a href="{% url "df_user:login" %}">Log in</a>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url "df_user:newpassword_handle" %}" id='reg_form' method="post">
                    {% csrf_token %}
				<ul>
					<li>
						<label>username:</label>
                       <input type="text" name="user_al" id="user_al" value="{{ user_name }}">
					</li>
					<li>
						<label>New Password:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip">prompt information</span>
					</li>
					<li>
						<label>Confirm Password:</label>
						<input type="password" name="confirm_pwd" id="cpwd">
						<span class="error_tip">prompt information</span>
					</li>
					<li class="reg_sub">
						<input type="submit" value="reset Password">
					</li>
				</ul>
				</form>
			</div>

		</div>

	</div>

{% endblock body %}

