{% extends 'base_foot.html' %}
{#Templates inherit from base_foot#}

{% block head %}
    <script type="text/javascript" src="/static/js/register.js"></script>
    <script type="text/javascript">
    $(function(){

	var error_name = false;
	var error_password = false;
	var error_check_password = false;
	var error_email = false;
	var error_check = false;


	$('#user_name').blur(function() {
		check_user_name();
	});

	$('#pwd').blur(function() {
		check_pwd();
	});

	$('#cpwd').blur(function() {
		check_cpwd();
	});

	$('#email').blur(function() {
		check_email();
	});

	$('#allow').click(function() {
		if($(this).is(':checked'))
		{
			error_check = false;
			$(this).siblings('span').hide();
		}
		else
		{
			error_check = true;
			$(this).siblings('span').html('Please check to agree');
			$(this).siblings('span').show();
		}
	});


	function check_user_name(){
		var len = $('#user_name').val().length;

		if(len<5||len>20)
		{
			$('#user_name').next().html('Enter a username of 5-20 characters');
			$('#user_name').next().show();
			error_name = true;

		}
		else
		{
			$.get('{% url "df_user:register_exist" %}?uname='+$('#user_name').val(),function(data){
                if (data.count >= 1) {
                    $('#user_name').next().html('username already exists').show();
                    error_name = true;
                }else{
                    $('#user_name').next().hide();
                    error_name = false;
                }
            });
        }
	}

	function check_pwd(){
		var len = $('#pwd').val().length;
		if(len<4||len>20)
		{
			$('#pwd').next().html('The minimum password is 4 characters, the longest is 20 characters');
			$('#pwd').next().show();
			error_password = true;
		}
		else
		{
			$('#pwd').next().hide();
			error_password = false;
		}
	}


	function check_cpwd(){
		var pass = $('#pwd').val();
		var cpass = $('#cpwd').val();

		if(pass!=cpass)
		{
			$('#cpwd').next().html('The two entered passwords do not match');
			$('#cpwd').next().show();
			error_check_password = true;
		}
		else
		{
			$('#cpwd').next().hide();
			error_check_password = false;
		}

	}

	function check_email(){
		var re = /^[a-z0-9][\w\.\-]*@[a-z0-9\-]+(\.[a-z]{2,5}){1,2}$/;//Regular matching must meet the format of the mailbox to judge correctly, and proceed to the next step
		if(re.test($('#email').val()))
		{
			$('#email').next().hide();
			error_email = false;
		}
		else
		{
			$('#email').next().html('The email format you entered is incorrect');
			$('#email').next().show();
			error_check_password = true;
		}

	}


	$('#reg_form').submit(function() {
		check_user_name();
		check_pwd();
		check_cpwd();
		check_email();

		if(error_name == false && error_password == false && error_check_password == false && error_email == false && error_check == false)
		{
			return true;
		}
		else
		{
			return false;
		}

	});
});
    </script>
{% endblock head %}

{% block body %}
	<div class="register_con">
		{% comment %} <div class="l_con fl">
			<a class="reg_logo"></a>
			<div class="reg_slogan">Clothing Online Store</div>
			<div class="reg_banner"></div>
		</div> {% endcomment %}

		<div class="r_con">
			<div class="reg_title clearfix">
				<h1>user registration</h1>
				<a href="{% url "df_user:login" %}">Log in</a>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url "df_user:register_handle" %}" id='reg_form' method="post">
                    {% csrf_token %}
				<ul>
					<li>
						<label for="user_name">username:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip">prompt information</span>
					</li>
					<li>
						<label for="pwd">password:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip">prompt information</span>
					</li>
					<li>
						<label for="confirm_pwd">Confirm Password:</label>
						<input type="password" name="confirm_pwd" id="cpwd">
						<span class="error_tip">prompt information</span>
					</li>
					<li>
						<label for="email">Mail:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip">prompt information</span>
					</li>
					{% comment %} <li class="agreement"> {% endcomment %}
						<input type="hidden" name="allow" id="allow" checked="checked" value="checked">
						{% comment %} <label>Agree to the "Mall User Agreement"</label> {% endcomment %}
						{% comment %} <span class="error_tip2">prompt information</span> {% endcomment %}
					{% comment %} </li> {% endcomment %}
					<li class="reg_sub">
						<input type="submit" value="register">
					</li>
				</ul>				
				</form>
			</div>

		</div>

	</div>

{% endblock body %}
