{% extends 'base_foot.html' %}

{% block body %}

    <div class="cancelheader_con">
		<div class="navbar">
			<div class="narbar-brand welcome fl">Clothing Shopping Mall!</div>
			<div class="fr">
{#               determine if the user already login #}
                {% if request.session.user_name|default:'' != '' %}
{#                    default过滤器进行判断如果request.session.user_name不等于空字符串则用户登陆状态为true#}
{#                    也就是说当用户为已登陆状态时则显示用户名#}

{#                    class="login_info fl"#}
				<div class="navbar-item login_btn fl">Welcome <em>{{ request.session.user_name }}</em>
                    <span>&nbsp</span>
                    <em><a href="{% url "df_user:logout" %}">Logout</a></em>
				</div>
                {% else %}
				<div class="navbar-item login_btn fl">
					<a href="{% url "df_user:login" %}">Login</a>
				</div>
				<div class="navbar-item user_link fl">
					<span>&nbsp</span>
					<a href="{% url "df_user:register" %}">Register</a>
				</div>
                {% endif %}
				<div class="navbar-item user_link fl">
					<span>&nbsp</span>
					<a href="{% url "df_goods:index" %}">Home</a>
				</div>
				<div class="navbar-item user_link fl">
					<span>&nbsp</span>
					<a href="{% url "df_user:info" %}">User Center</a>
				</div>
				<div class="navbar-item user_link fl">
					<span>&nbsp</span>
					<a href="{% url "df_cart:cart" %}">My Cart</a>
				</div>
				<div class="navbar-item user_link fl">
					<span>&nbsp</span>
					<a href="{% url "df_user:order" 1 %}">My Orders</a>
				</div>
			</div>
		</div>
	</div>


    <div class="search_bar clearfix">
{#		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>#}
        {% if page_name == 1 %}
            <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</div>
        {% endif %}
		<div class="search_con fl">
             <script>
                $(function () {
                    $('.input_btn').click(function () {
    {#                    alert('ok');#}
                        q = $('.input_text').val();
                        location.href = '{% url "df_goods:ordinary_search" %}?q='+q+'&page=1'
                    })
                })

            </script>
			<input type="text" class="input_text fl" name="q" placeholder="Search for products">
			<input type="button" class="input_btn fr" name="" value="Search">
		</div>

        {% if guest_cart == 1 %}
            <div class="guest_cart fr">
                <a href="{% url "df_cart:cart" %}" class="cart_name fl">My cart</a>
                <div class="goods_count fl" id="show_count">{{ cart_num }}</div>
            </div>
        {% endif %}
	</div>




{% block content %}
{% endblock content %}
{% block center_body %}

{% endblock center_body %}


{% endblock body %}
